<template>
  <div id="app">
      <t-banner :source="banner"></t-banner>
      <t-cv :source="source"></t-cv>
  </div>
</template>


<script>
import "./components/resources.vue";

// import axios from "axios";
import marked from "marked";
import jsyaml from "js-yaml";

import { getParameterByName } from "./assets/js/markview.js";

import banner from "./components/banner.vue";
import cv from "./components/cv.vue";

export default {
  data() {
    return {
      default_src: "mini-cv-en-zh",
      text: { md: "__hello moto__" },
      stock_themes: [
        // "cerulean",
        // "cosmo",
        // "cyborg",
        // "darkly",
        // "flatly",
        // "journal",
        // "litera",
        // "lumen",
        // "lux",
        // "materia",
        // "minty",
        // "pulse",
        "sandstone",
        // "simplex",
        // "sketchy",
        // "slate",
        // "solar",
        // "spacelab",
        // "superhero",
        // "united",
        "yeti"
      ],
      default_theme: "sandstone",
      timestamp: new Date().toLocaleTimeString()
    };
  },
  computed: {
    md_url() {
      let src = getParameterByName("src", location.search);
      if (!src) src = this.default_src;
      return "./dist/md/" + src + ".md";
    },
    source() {
      marked.setOptions({
        renderer: new marked.Renderer(),
        gfm: true,
        tables: true,
        breaks: false,
        pedantic: false,
        sanitize: false,
        smartLists: true,
        smartypants: false
      });
      return this.text.md
        ? marked(this.text.md).replace(
            /<img src=['"]\.?\/pics/g,
            '<img src="./dist/pics/'
          )
        : "";
    },
    banner() {
      return this.text.yml
        ? this.text.yml.banner
        : {
            brand: "",
            nav: ",",
            lastupdate: ""
          };
    }
  },
  mounted() {
    this.get_md();
    this.apply_theme();

    // console(this.source)
  },
  methods: {
    apply_theme() {
      let loc = "";
      if (getParameterByName("loc", location.search)) loc = "zh-";
      let theme = getParameterByName("theme", location.search);
      if (this.stock_themes.indexOf(theme) > 0) this.default_theme = theme;

      let css = "./dist/theme/zh-" + this.default_theme + ".css";
      document.getElementById("theme_css").href = css;
      console.log(css);
    },
    get_md() {
      const vm = this;

      function parse(data) {
        const parts = data.split(/^---$/m, 3);
        return {
          md: parts.pop(),
          yml: parts.length > 1 ? jsyaml.load(parts[1]) : {}
        };
      }
    $.ajax({
      url: this.md_url,
      method: 'GET',
      dataType: 'text',
      success: function(response) {
          console.log(response);
          window.status = 'ready_to_print';
          vm.text = parse(response);
          document.getElementsByTagName("title")[0].text =
            vm.text.yml.banner.title || "Tom Tan";
        }
    });
    }
  },
  components: { "t-cv": cv, "t-banner": banner }
};
</script>

<style>

</style>
