<template>
    <div class="container" id="content">
      <div v-html="source"></div>
    </div>
</template>

<script>
export default {
  props: ["source"],

  data() {
    return {};
  }
};
</script>

<style>

</style>
