﻿<!doctype html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link href='//fonts.proxy.ustclug.org/css?family=Droid+Serif|Open+Sans:400,700' rel='stylesheet' type='text/css'> -->

    <!-- <link rel="stylesheet" href="css/reset.css"> -->
    <!-- CSS reset -->

    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link href="https://cdn.bootcss.com/bulma/0.6.2/css/bulma.min.css" rel="stylesheet">

    <link rel="stylesheet" href="./css/landing.css">
    <!-- Resource style -->
    <script src="./js/modernizr.js"></script>
    <!-- Modernizr -->

    <title>Tom Tan</title>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?f6949ab819e51360058cc9abe378a845";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>

<body>
    <section class="hero is-fullheight is-info">
        <div class="hero-head">
            <div class="container">
                <div class="tabs is-centered">
                    <ul>
                        <li class="subtitle">{{{footer}}}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered title">
                {{{title}}}
            </div>
        </div>

        <div class="hero-foot">

            <div class="container">
                <div class="tabs is-centered">
                    <ul>
                        <li>
                            <a href='./cv?src=projects-zh&loc=zh'>项目经验</a>
                        </li>
                        <li>&middot;</li>
                        <li>
                            <a href='./cv?src=projects-en&loc=zh'>Project Experience</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section id="cd-timeline" class="cd-container">
        {{#timeline}}
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location">
                <img src="{{image}}" alt="location">
            </div>
            <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2 class="title"> {{title}} </h2>
                {{#details}}
                <p> {{{ segment }}} </p>
                {{/details}}

                <!--<a href="#0" class="cd-read-more">Read more</a>-->
                <span class="cd-date"> {{when}} </span>
            </div>
            <!-- cd-timeline-content -->
        </div>
        {{/timeline}}

    </section>
    <!-- cd-timeline -->

    <section class="hero is-info">
        <figure class="image">
            <img src='./cv/pics/husky-contribution.jpg' />
        </figure>
    </section>


    <section>
    
    <section class="hero is-info">
        {{#projects}}
        
        <div class="card border-primary mb-3" style="max-width: 200rem;">
            <div class="card-header">{{subtitle}}</div>
            <div class="card-body">
                <h4 class="card-title">{{header.title}}</h4>
                <h6 class="card-subtitle mb-2 font-weight-bold font-italic">{{one_liner}}</h6>
                <div class="card-text">{{body}}</div>
            </div>
        </div>
        {{/projects}}
        
    </section>

    </section>


    <!-- <footer class="footer"> -->
    <footer>
        <div class="container">
            <div class="columns">
                <div class="column is-9">
                    <div class="bsa-cpc">
                        <span class="subtitle">Copyright &copy;2017-2018 Tom Tan. </span>
                    </div>
                </div>
                <div class="column is-9">
                    <!-- <span class="subtitle">{{{footer}}}</span> -->
                    <div class="bsa-cpc">
                    </div>
                </div>

            </div>
        </div>
    </footer>

    <script src="./js/jquery.min.js"></script>
    <script src="./js/landing.js"></script>
    <!-- Resource jQuery -->
</body>

</html>